/* -------------------- global -------------------- */
body {
	
}
.center {
	text-align: center;
}

/* --------------------  resume -------------------- */
body.resume {
	font: normal 1em/1em Cambria, Georgia, Times New Roman, Times, serif;
}
body.resume h1 {
	margin-bottom: 0;
	margin-top: 0;
}
body.resume h2 {
	font-family: Cambria, Georgia, Times New Roman, Times, serif;
	text-transform: uppercase;
}
body.resume ul {
	line-height: 1.5em;
	margin-bottom: 0;
}
body.resume section {
	padding: 10px 0;
}


body.resume section.key-skills ul li i {
	color: grey;
}

body.resume section.employment-history .role {
	border: 1px solid #2ba6cb;
	border-radius: 8px;
}

/* --------------------  map -------------------- */
body.map {
	padding: 5px 0 0;
}
.map  #map-canvas{
	height: 400px;	
}

.map .place-list {
	height: 400px;
	overflow: auto;
}

.map .place-list li {
	display: inline-block;
	padding: 3px 5px 12px;
	font-size: 75%;
}
.map .place-list li  a.city {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
}
.map .place-list li  a.city:hover {
	text-decoration: none;
}

.map .map-canvas .wheel {
	position: absolute;
	background: url(../img/loading.gif) 0 0 transparent;
	height: 207px;
	width: 207px;
	top: 50%;
	left: 50%;
	margin-top: -103px;
	margin-left: -103px;
}

@media only screen and (max-width: 767px) {
	.map  #map-canvas{
		height: 300px;
	}

	.map .place-list {
		height: auto;
	}
	
	.map .place-list li {
		min-width: 125px;
		padding: 2px 5px 3px;
	}
	
	.map .place-list li.columns:last-child {
		float: left;
	}
} 

@media only screen and (max-width: 479px) {
	.map .place-list li {
		min-width: 100px;
	}
	
	.map .place-list li .arrival-time {
		display: none;
	}
}

