@font-face
{
	font-family: Amble-Regular;
	src: url(../font/Amble-Regular.ttf);
}
@font-face
{
	font-family: Amble-Light;
	src: url(../font/Amble-Light.ttf);
}
@font-face
{
	font-family: Amble-LightCondensed;
	src: url(../font/Amble-LightCondensed.ttf);
}
