body {
	padding-top: 5px;
}

body, ul, ol, dl {
	font-family: Amble-Light, Cambria, Georgia, Times New Roman, Times, serif;
}

.center {
	text-align: center;
}

a { 
	text-decoration: underline;
	font-family: Amble-Light, Cambria, Georgia, Times New Roman, Times, serif;

	&:hover {
		text-decoration: none;
	}
}

.accordion {
	.accordion-navigation {
		& >a {
			font-family: Amble-Light, Cambria, Georgia, Times New Roman, Times, serif;
			text-decoration: none;
		} 
	}
} 

.nav-toggle {
	background: url("../img/sprite.png") no-repeat scroll -15px -15px dodgerblue;
}
