html#map {
	height: 100%;
}

.bodyMap {
	padding: 5px 0 0;
	height: 100%;

	.full-width {
		max-width: 100% !important;
	}
	.row {
		&.map-row {
			height: 100%;	
		}
	}
	.places {
		height: 100%;
	}
	.place-list {
		height: 100%;
		overflow: auto;

		li {
			display: inline-block;
			padding: 3px 15px;
			font-size: 75%;

			a {
				&.city {
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: underline;
					display: block;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.map-canvas{
		height: 100%;	

		.wheel {
			position: absolute;
			background: url(../img/loading.gif) 0 0 transparent;
			height: 207px;
			width: 207px;
			top: 50%;
			left: 50%;
			margin-top: -103px;
			margin-left: -103px;
		}

	}
}
 
@media only screen and (max-width: 64.063rem) {	// 1024px
	.bodyMap {
		.place-list {
			height: auto;

		 	li {
				width: 100%;

				&.columns {
					:last-child {
						float: left;
					}
				}
			}
		}
	}
} 

@media only screen and (max-width: 40.063rem) {	// 640px
	.bodyMap { 
		.places {
			top: 55px;
		}
		.place-list {
			li {
				min-width: 100px;

				.arrival-time {
					display: none;
				}
			}
		}
	}
}

