html#map {
	height: 100%;
}

.bodyMap {
	padding: 5px 0 0;
	height: 100%;

	.nav-collapse {
		z-index: 11;
	}
	
	> #searchTextField {
		display: none;
	}
	
	.accordion {
	 	.accordion-navigation {
	 		.accordion-item {
				&.fi-arrow-right, &.fi-arrow-down {
					&:before {
						float: right;
						font-size: 0.625rem;
						padding-top: 3px;
					}
				}
			
				text-transform: uppercase;
				margin-bottom: 1px;
				padding: 5px;
				font-weight: 700;
				font-size: 0.625rem;
				font-family: Amble-Light, Cambria, Georgia, Times New Roman, Times, serif;
			}
		}
	}
	
	.region-list {
		position: absolute;
		width: 180px;
		z-index: 10;
		float: right;
		right: 5px;
		top: 76px;
		
		#toggle-menu, #back-to-full-map{
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			margin-bottom: 1px;
			padding: 5px;
			font-weight: 700;
			font-size: 0.625rem;
			font-family: Amble-Light, Cambria, Georgia, Times New Roman, Times, serif;
			background:dodgerblue;
			color: #fff;
			
			&:active, &:focus {
				text-decoration: underline;
			}
		}
	}
	
	.place-list {
		height: 100%;
		overflow: auto;

		li {
			display: inline-block;
			padding: 3px 5px;
			font-size: 0.625rem;

			a {
				&.city {
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: underline;
					display: block;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.map-canvas {
		height: 100%;	
		position: absolute;
		top: 76px;
		left: 0;
		z-index: 1;

		img {
			max-width : none;
		
			&.place-image {
				height: 100px;
				width: 150px;
			}
		}
		.wheel {
			position: absolute;
			background: url(../img/loading.gif) 0 0 transparent;
			height: 207px;
			width: 207px;
			top: 50%;
			left: 50%;
			margin-top: -103px;
			margin-left: -103px;
		}
		#searchTextField {
			text-overflow: ellipsis;
			padding: 0 5px;
			width: 200px;
			font-family: Amble-Light, Cambria, Georgia, 'Times New Roman', Times, serif;
			margin-top: 9px;
		}
	}
}
 
@media only screen and (max-width: 64.063rem) {	// 1024px
	.bodyMap {
		.place-list {
			height: auto;

		 	li {
				&.columns {
					:last-child {
						float: left;
					}
				}
			}
		}
	}
} 

@media only screen and (max-width: 40.063rem) {	// 640px
	.bodyMap { 
		dl.accordion {
			margin-left:0;
			margin-right: 0;
		
			dd {
				padding-left: 0;
				padding-right: 0;
				
				.accordion-item {
					padding: 2px 5px;
				}
				.region-panel {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
		.region-list { 
			top: 110px;
			left: 11px;
			margin-right: 0;
			width: 150px;
		}
		.map-canvas {
			top: 60px;
		}
		.place-list {
			li {
				padding: 1px 5px;
			}
			/* temp */
			[class*="column"]+[class*="column"]:last-child {
				float: left;
			}
		}
	}
}

/* for retina display */
@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	/*.nav-toggle {
		background: url("../img/sprite.png") no-repeat scroll 0 -12px dodgerblue;
		height: 28px;
		background-size: 50% 50%;
	}*/
	#map-canvas .place-image {
		height: 50px;
		width: 75px;
	}
}
 
