.bodyPlayers { 
	font-size: 0.875rem;
	
	.row {
		padding: 5px 0;
	}
	.even {
		background-color: #eee;
	}
}
		
.bodyUpdatePlayer {
	.updateRow input[type="text"], .updateRow input[type="number"] { 
		width: 100%; 
	}
	.addPlayerForm {
	}
}

.bodyGameMgmt {
	font-size: 0.75rem;
}