.bodyPlayers { 
	font-size: 0.875rem;
	
	.even {
		background-color: #eee;
	}
}
		
.bodyUpdatePlayer {
	.updateRow input[type="text"], .updateRow input[type="number"] { 
		width: 100%; 
	}
	.addPlayerForm {
		input {
			font-size: 0.625rem; 
		}
	}
}