/*! responsive-nav.js 1.0.32 by @viljamis */



.nav-collapse {
	width: 100%;

	&.opened {
	  max-height: 9999px; 
	} 

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;   
		float: left;
	} 
	li {
		width: 100%;
		display: block;
		float: left;

		&.active {
			a {
				color: gold !important;
			}
		}
		a {
			text-transform: uppercase;
			font-weight: 400; 
			letter-spacing: 2px;
			color: white;
			text-decoration: none;
			width: 100%;
			background: dodgerblue;
			border-bottom: 1px solid white;
			padding: .5rem 1rem;
			float: left;

		 	&:hover, &:focus, &:active  {
				color: gold !important;
			}
		}
	} 
}

.js {
	 .nav-collapse {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
		zoom: 1;
	} 
}

.disable-pointer-events {
	pointer-events: none !important;
} 

.nav-toggle {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 	
	width: 70px;
	height: 55px;
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	background: dodgerblue url("../img/hamburger.gif") no-repeat 50% 33%; 
}


@media screen and (min-width: 40.063rem) {	// 640px
	.js {
		.nav-collapse {
			position: relative;

			&.closed {
				max-height: none;
			}
		}

	} 
	.nav-toggle {
		display: none;
	}  
	.nav-collapse {
	 	li {
			float: none;
			display: inline-block;
			width: auto;
			margin-left: .4em;
			margin-right: .2em;

			&.active {
				a {
					-webkit-font-smoothing: subpixel-antialiased;
					color: white;
					background: dodgerblue;
				}  
			}

			a {
				_float: none;
				-webkit-font-smoothing: antialiased;
				margin: 0;
				padding: 1.96em .7em .5em; 
				background: transparent;
				color: #37302a;
				border: 0;
				-webkit-transition: background .5s ease;
				-moz-transition: background .5s ease;
				-o-transition: background .5s ease;
				transition: background .5s ease;
				font: normal 1rem/1rem inherit
			}
		}  
	}
}





/*
.nav-collapse ul { } 
.nav-collapse li { } 
.nav-collapse  li a { }
.nav-collapse  li a:hover, 
.nav-collapse  li a:focus, 
.nav-collapse  li a:active,
.nav-collapse  li.active a { }

.js .nav-collapse { } 

.nav-collapse.opened { } 
.disable-pointer-events { } 

.nav-toggle { }

@media screen and (min-width: 40em) {
	.js .nav-collapse {	}
	.js .nav-collapse.closed { }
	.nav-toggle { } 
	.nav-collapse  li { }  
	.nav-collapse  li a { }
	.nav-collapse  li.active a { }  
}
*/

