<!DOCTYPE html>
<html lang="en" id="map">

	<head>
		<title>Zidan Bian's map.</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Zidan Bian's map. 卞紫丹的足迹" />
		<meta name="description" content="Zidan Bian's online space, blog and everything of me. 卞紫丹" />
		<meta name="author" content="Zidan Bian. 卞紫丹" />

		<!-- FIXME: foundation css to be loaded from gem / bower -->
		<link href="css/foundation5.min.css" rel="stylesheet" type="text/css" />	
		<link href="css/map.css?v=1.0" rel="stylesheet" type="text/css" /> 
		<script src="js/lib/require.js"></script> 	
		<script>
			//require(['js_min/custom/require-config'], function (config) {
			require(['js/custom/require-config'], function (config) {	
				// Load the main app module to start the app
				// example: https://github.com/requirejs/example-jquery-cdn
				require(["map"]);
			});
		</script>

		<!--
			TODO:
				5. foundation5 css to work with gem / bower
				8. error detection on map loading
		-->
	</head>

	<body class="bodyMap">
		    
		<nav class="nav-collapse" role="navigation">
		  <ul>
			<li><a href="/">Home</a></li>
			<li><a  href="resume.html">Resume</a></li>
			<li class="active"><a href="map.html">Map</a></li>
			<li><a href="/blog">Blog</a></li>
		  </ul>
		</nav>
		
		<!-- search field -->
		<div class="row full-width" style="display:none;">	
			<div class="columns large-12 small-12">
				<input id="searchTextField" type="text" placeholder="Enter a location">
			</div>
		</div>
		
		<div class="row full-width main-row">			
		

			<!-- region list -->
			 
			<dl class="accordion row region-list columns" data-accordion>
				<dd class="accordion-navigation large-12 medium-12 small-12 columns">
					<a class="accordion-item" id="back-to-full-map">Full map</a>
				</dd>
				<!-- backbone template -->
			</dl>
			 

			<!-- map canvas -->
			<div id="map-canvas" class="map-canvas columns">
				<div class="wheel"></div>
			</div> 
		</div>
		

		<script type="text/html" id="region-template">
			<dd class="accordion-navigation large-12 medium-12 small-12 columns region" data-region="<%= region_id %>">
				<a class="accordion-item fi-arrow-right" title="click/tap to expend" href="#panel-<%= region_id %>"><%= region %></a>
				<div id="panel-<%= region_id %>" class="content columns large-12 medium-12 small-12">
					<ul class="place-list place-list-<%= region_id %> row">
						<!-- backbone template -->
					</ul>
				</div>
			</dd>
		</script> 

		<script type="text/html" id="place-template">
			<li class="large-12 medium-12 small-6 columns place">
				<a title="<%= time_of_first_arrival %>" class="city map-link" index=<%=index %>><%= name %></a>
			</li>
		</script> 
			
		<!-- google analytics -->	
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41233908-1', 'bianzidan.com');
		  ga('send', 'pageview');
		</script> 

	</body>
</html>	
	